body{font:12px Arial;}
body{color:gray;}
body{line-height:2em;}
a{color:#727272; text-decoration:none;}
.menu{font-size:14px;color:#b9f605;font-weight:bold;}
.special{color:#b9f605;}
a:hover{text-decoration:underline}